#about-wrapper {
  
  float: left;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(39, 16, 58, 1) 0%,
    rgba(27, 20, 100, 1) 100%
  );
}
.about-section > h3 {
  text-align: left;
  padding: 0%;
}

a:link {
  text-decoration: none;
  color: #00aebe;
  font-weight: 700;
}
a:visited {
  color: #00aebe;
}

a:hover {
  color: #e5e5e5;
}
a:active {
  color: #e5e5e5;
}

.about-header {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("img/about-header.png");
  background-position: center top;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.overlay > p {
  padding: 0% 15%;
  margin-bottom: 5%;
}

#header-img {
  height: 100%;
  width: auto;
  display: block;
  padding-top: 8%;
}

.about-section {
  margin: 5% 0%;
  padding: 0% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  align-items: center;
  grid-template-areas: "top bottom";
}
.about-section img {
  max-width: 500px;
  margin: 0 auto;
}

.about-1 {
  grid-area: top;
  margin-top: 8%;
}
.about-2 {
  grid-area: bottom;
  margin-top: 8%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-section {
    grid-template-columns: 1fr;
  }
  .overlay > p {
    padding: 0% 5%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .about-section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "bottom";
  }
  .about-2 {
    grid-area: top;
  }
  .about-1 {
    grid-area: bottom;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
  }
  .overlay > p {
    padding: 0% 5%;
    margin-bottom: 5%;
  }
  .about-section img {
    max-width: 350px;
}
}
/* FOOTER GRADIENT */
footer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(37, 17, 66, 1) 0%,
    rgba(27, 20, 100, 1) 100%
  );
}
