/* GALLERY SPECIFIC CSS */

#gallery-wrapper {
  float: left;
  margin: 0 auto;
  padding: 0;
}
/* Home section */

.home {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
}

.header-title {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 15%;
}

h2 {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

/* VIDEO SECTION */
video {
  background-color: #28113b;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.video-overlay {
  width: 100%;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("img/background3.png");
  background-position: center top;
  background-size: cover;
  padding-bottom: 5%;
}

.video-section {
  width: 70%;
  margin-top: 15%;
  padding: 1% 0;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ART SECTION */

.art {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(27, 20, 100, 1) 0%,
    rgba(39, 16, 58, 1) 100%
  );
  padding-bottom: 5%;
}

.section-title {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.art-section {
  width: 100%;
}

/* FANCYBOX LIGHT GALLERY */
*:after,
:before {
  box-sizing: border-box;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
  clear: both;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  margin: 60px auto 0;
}

.gallery a {
  display: block;
  text-decoration: none;
  width: 30%;
  margin: 0 auto;
  padding: 1%;
  overflow: hidden;
  outline: none;
}

.gallery a img {
  height: 100%;
  transform: scale(1, 1);
  transition: all 300ms ease;
}

.gallery a img:hover {
  transform: scale(1.1, 1.1);
}

.bg {
  width: 100%;
  min-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1, 1);
  transition: all 300ms ease;
  border-radius: 10px; /* FOR PLACEHOLDER PURPOSES. REMOVE LATER. */
}

/* .bg:hover {
  transform: scale(1.1, 1.1);
} */

@media (max-width: 991px) {
  .gallery a {
    width: 70%;
  }
  .bg {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .gallery a {
    width: 100%;
  }

  .bg {
    height: 300px;
  }
  .video-section {
    width: 85%;
    margin-top: 10%;
  }
}

h1 a {
  color: #000;
}

/* FOOTER GRADIENT */
footer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(27, 20, 100, 1) 0%,
    rgba(39, 16, 58, 1) 100%
  );
}
