/* INDEX SPECIFIC CSS */

#wrapper {
  margin: 0 auto;
  padding: 0;
  background-color: #1b1464;
}
/* Home section */

.home {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
}

.overlay {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header-title {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.index-bg {
  max-width: 100%;
  height: auto;
}
.header-logo {
  width: 50%;
  margin: 0 auto;
}
h3 {
  color: #ffffff;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 0;
}

.main-container h2 {
  padding: 50px 0;
}

.main-section p {
  color: #ffffff;
  text-align: left;
}

/* VIDEO SECTION */
video {
  background-color: #28113b;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.video-overlay {
  width: 100%;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("img/background5.png");
  background-position: center top;
  background-size: cover;
  padding-bottom: 5%;
}

.video-section {
  width: 70%;
  margin-top: 15%;
  padding: 1% 0;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MAIN SECTION */

.main-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(27, 20, 100, 1) 0%,
    rgba(40, 17, 59, 1) 100%
  );
  background-position: center top;
}

.section-title {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.main-section {
  width: 90%;
  margin: 0 auto;
}
.grid {
  align-items: center;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "top bottom";
  padding-bottom: 50px;
}
.main-3 {
  grid-area: top;
}
.main-4 {
  grid-area: bottom;
}
.main-1,
.main-2,
.main-3,
.main-4 {
  padding: 2%;
}

.grid img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "bottom";
  }
  .main-4 {
    grid-area: top;
  }
  .main-3 {
    grid-area: bottom;
  }
  .video-section {
    width: 85%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 600px) {
  .header-logo {
    width: 45%;
    margin: 0 auto;
  }
}

/* @media (min-width: 990px) {
  .main-section p {
    font-size: 1.9em;
    line-height: 2.2em;
  }
} */

.slider-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-overlay {
  display: flex;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(27, 20, 100, 1) 0%,
    rgba(39, 18, 62, 1) 100%
  );
  background-size: cover;
  background-position: center top;
}

.slider-main {
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
}
.gallery-slide {
  background: transparent;
  margin: 0 auto;
  padding: 2%;
  position: relative;
  text-align: center;
}

.slider-img {
  width: 80%;
  margin: 0 auto;
}

.slide-btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #e5e5e5;
  font-size: 1rem;
  background: #00aebe;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #00aebe 2px;
  margin-bottom: 25px;
}

.slide-btn:hover {
  background: #e5e5e5;
  border: solid #00aebe 2px;
  text-decoration: none;
  color: #00aebe;
  cursor: pointer;
}
.btn-contain {
  text-align: center;
  padding-top: 75px;
}
@media (min-width: 1200px) {
  .slide-overlay {
    min-height: 500px;
  }
}
ul {
  margin-right: 10px;
}
/* FOOTER GRADIENT */
footer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(28, 20, 93, 1) 0%,
    rgba(39, 18, 62, 1) 100%
  );
}
