#wrapper {
  float: left;
  margin: 0 auto;
  padding: 0;
  background: #1b1464;
}
/* Team section */

.team-header {
  display: inline-block;
  position: relative;
  width: 100%;
}

.overlay {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header-title {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

/* team grid */
.team {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(39, 16, 58, 1) 0%,
    rgba(27, 20, 100, 1) 100%
  );
}

.team-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
}

.team-section > ul {
  padding-left: 1rem;
  grid-gap: 1rem;
}

.team-section > ul > li {
  max-height: 100%;
  overflow: hidden;
}
.team-section > h3 {
  font-family: p22-pooper-black-pro, sans-serif;
  font-weight: 700;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .team-section {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .team-section {
    width: 100%;
  }
}

